     * {
            box-sizing: border-box;
        }

        body {
            background-image: url(../../../../../doc/gui/espadaesquel.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            color: white;
            margin: 0;
            min-height: 100vh;
            padding-bottom: 110px;
            font-family: 'Bangers', cursive;
        }

        .encavezado {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 20px;
            font-family: "Bangers", cursive;
            background: rgba(0, 0, 0, 0.418);

        }


        .boton-hamburguesa {
            width: 50px;
            height: 50px;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;

        }

        .desplegable {
            background-color: rgba(14, 13, 13, 0.5);
            border-radius: 5px;
            top: 130px;
            left: 15px;
            cursor: pointer;
        }

        .desplegable img {
            width: 60px;
            transition: 0.3s;
        }

        .desplegable img:hover {
            transform: scale(1.09);
        }

        #desplegable {
            display: none;
        }

        .Panel {
            display: none;
            position: absolute;
            top: 70px;
            left: 20px;
            width: 75%;
            background-color: rgba(7, 7, 7, 0.5);
            padding: 30px;
            border-radius: 5px;
            z-index: 10;
            opacity: 0;
            transform: translateX(-20px);
            transition: 0.3s;
        }

        #desplegable:checked+label+.Panel {
            display: block;
            opacity: 1;
            transform: translateX(0);
        }

        .Panel .opciones {
            width: 100%;
            padding: 10px;
            border-radius: 15px;
            background-color: rgba(14, 13, 13, 0.5);
            color: white;
            font-weight: bold;
            font-size: 18px;
            text-transform: uppercase;
            border-color: gold;
            margin: 10px;
            display: flex;
            cursor: pointer;
            transition: 0.3s;
        }

        .Panel .opciones:hover {
            background: gold;
            transform: scale(1.1);
        }

        .Panel a {
            text-decoration: none;
        }

        .logo {
            width: 60px;
        }

        .encavezado h1 {
            margin: 0;
            font-size: 30px;

        }


        .Botones {
            margin-top: 10px;
            padding: 15px;
            background: rgba(39, 37, 37, 0.6);
            display: flex;
            justify-content: space-between;
            box-shadow: 0 0 15px rgba(136, 133, 133, 0.6);
            border-radius: 5px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }

        .Botones img {
            width: 60px;
            cursor: pointer;
            transition: 0.3s;
        }

        .Botones img:hover {
            transform: scale(1.09);
        }


        .listaTorneos {
            width: 100%;
            max-width: 420px;
            padding: 15px;
            margin: 0 auto;
        }

        h2 {
            text-align: center;
            margin-bottom: 15px;
            font-family: 'FontAwesome';
            color: rgb(237, 237, 105);
        }

        .torneos {
            display: flex;
            border: 1px solid cyan;
            flex-direction: column;
            align-items: center;
            padding: 5px;
            background: #261037;
            padding: 15px;
            border-radius: 20px;
            border: 8px solid cyan;
            margin-top: 20px;

        }

        .torneos p {
            text-align: center;
            color: rgb(237, 237, 105);
            font-size: 16px;
            font-weight: bold;
            font-family: 'FontAwesome';
            ;
        }

        .torneo-checkbox {
            display: none;
            background-color: cyan;
            color: #261037;
            font-weight: bold;
            transition: 0.3s;
        }

        .img {

            display: flex;
            align-items: center;
        }

        .img-torneo {
            width: 100%;

        }

        .boton {
            display: flex;
            justify-content: space-between;
        }

        .btn {
            width: 95%;
            padding: 10px;
            margin: 20px auto;
            display: block;
            background-color: #261037cc;
            border-radius: 10px;
            border: 2px solid cyan;
            color: rgb(237, 237, 105);
            font-family: 'FontAwesome';
            font-weight: bold;
            font-size: 16px;
        }

        .boton a {
            text-decoration: none;
        }

        .btn:hover {
            background-color: cyan;
            color: #261037;

            font-weight: bold;
            transition: 0.3s;
        }