body {
    background-image: url(/doc/web/img/clasificacion/fondo);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    margin: 0;
    font-family: "Bangers", cursive;
}

.encavezado {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.418);

}

.boton-hamburguesa {
    width: 50px;
    height: 50px;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.linea {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
    border-radius: 2px;

}

.logo {
    width: 60px;
}

.encavezado h1 {
    margin: 0;
    font-size: 30px;

}