* {
        box-sizing: border-box;
     
    }
body {
    background-image: url(/doc/web/img/clasificacion/fondo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    margin: 0;
    justify-content: center;
}

.encavezado {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-family: "Bangers", cursive;
    background: rgba(0, 0, 0, 0.418);

}

.boton-hamburguesa {
    width: 50px;
    height: 50px;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.linea {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
    border-radius: 2px;

}

.logo {
    width: 60px;
}

.encavezado h1 {
    margin: 0;
    font-size: 30px;

}

.navegacion {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 1000;
}

.navegacion ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navegacion ul li a {
    color: white;
    font-size: 22px;
    text-decoration: none;
}

.clasificaciones {

    width: 100%;
    max-width: 420px;
    

    /* nose para que es Ajusta el ancho máximo según sea necesario */
    padding: 15px;


}

h2 {
    text-align: center;
    margin-bottom: 25px;
    font-family: 'FontAwesome';
    color: rgb(237, 237, 105);


}

h2 span {
    color: white;
    margin-top: 15px;
    font-size: 20px;
}

.ronda {
    margin-bottom: 35px;
}

.ronda-titulo {
    text-align: center;
    background-color: rgba(36, 26, 49, 0.778);
    color: rgb(237, 237, 105);
    font-weight: bold;
    padding: 6px 15px;
    border-radius: 20px;
    width: fit-content;
    /*nose que hace*/
    margin: 0 auto 20px;

}

.secciones {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 15px;
    position: relative;
    /*posicion relativa*/

}

.grupos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /*espacio entre los divs*/
}

.grupo {
    background-color: #261037;
    color: white;
    padding: 10px 12px;
    border-radius: 6px;
    width: 150px;
    text-align: center;
    font-weight: bold;

}

.ganador {
    background-color: #261037c4;
    border: 2px solid gold;
    color: white;
    padding: 10px 12px;
    border-radius: 6px;
    font-weight: bold;
    position: relative;
}
.secciones::before {
        content: "";
        position: absolute;
        background: #261037;
        left: 210px;
        width: 20px;
        height: 4px;
    }

    .secciones::after {
         content: "";
        position: absolute;
        background: #261037;
        left: 230px;
        top: 50%;
        width: 4px;
        height: 50px;
        transform: translateY(-50%);
     
    }
    .campeon {
        background:  #261037c4;
         border: 2px solid gold;
        color:rgb(237, 237, 105);
        font-weight: bold;
        text-align: center;
        padding:15px;
        border-radius: 10px ;
        font-size: 18px;
    }
